body {
    font-family: Poppins, Helvetica, sans-serif;
}

.max-width {
    margin: 0 auto;
    max-width: 800px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

.dark-grey {
    background-color: rgba(122, 122, 122, 0.8);
}



.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

}

.centered p {
    max-width: 400px;
}

.light-grey {
    background-color: rgb(231, 231, 231);
}

.container-footer {
    height: fit-content;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(122, 122, 122, 0.8);
    color: white;
}


nav a:last-of-type {
    margin-right: 10px;
}

nav a,
footer a {
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover,
footer a:hover {
    color: white;
}

.small-text {
    font-size: small;
}

.section-videos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: grey;
    padding: 20px;
}

.section-videos h2 {
    text-align: center;
    color: whitesmoke;
}

iframe {
    margin: auto;
}

footer a {
    font-size: smaller;
}